# Java / Spring Boot
target/
*.class
*.jar
*.war
*.log

# Maven wrapper
.mvn/wrapper/maven-wrapper.jar

# IntelliJ
.idea/
*.iml
out/

# Node / React / Vite
node_modules/
dist/
build/
.vite/

# Env files
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Logs
logs/

# Optional
coverage/

# Local dev folders
.vscode/
.kiro/